<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114335724788-mc98eaj80bked0oeec2213rndnbll0dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114335724788-mc98eaj80bked0oeec2213rndnbll0dp</string>
	<key>API_KEY</key>
	<string>AIzaSyBW-q37h-XjqrYtfRcsgO3tetJOONWjCYU</string>
	<key>GCM_SENDER_ID</key>
	<string>114335724788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-a9ffd</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-a9ffd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114335724788:ios:95a06d496fe281a1419aa1</string>
</dict>
</plist>